networks:
  notes-net:
    driver: bridge

services:
  nginx:
    container_name: nginx
    image: nginx:1-alpine
    ports:
      - "80:80"
    volumes:
      - ../front-vue3/dist:/usr/share/nginx/html:ro
      - ./configs/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - notes-net
    restart: always

  notes-api-node:
    container_name: notes-api-node
    image: node:23-alpine
    working_dir: /usr/src/app
    volumes:
      - ../api/node:/usr/src/app
    networks:
      - notes-net
    restart: always
    command: "node_modules/.bin/nodemon app.js"
    #     command: "node app.js"
    #     command: "sh -c '(npm ls -g nodemon --depth=0 >/dev/null 2>&1 || npm install -g nodemon) && node_modules/.bin/nodemon app.js'"

